---
import { getCollection } from 'astro:content'
import Image from 'shared/components/image.astro'
import Navigation from '@/components/navigation.astro'
import { basePath, destinationNavData as navData } from '@/utils/consts'
import Layout from '@/app.astro'

export async function getStaticPaths() {
  const destinations = await getCollection('destinations')
  return destinations.map(({ data, id }) => ({
    params: { planet: id },
    props: { data, id },
  }))
}

const {
  id,
  data: { description, info, title },
} = Astro.props
---

<Layout
  navKey="destination"
  bodyClass="bg-destination-mobile bg-no-repeat bg-cover md:bg-destination-tablet lg:bg-destination-desktop"
>
  <main class="p-6 md:p-10 xl:flex xl:justify-center xl:gap-x-27 xl:py-12">
    <header class="grid gap-y-6">
      <div class="text-center font-barlow-condensed tracking-[15%] text-white uppercase md:text-left xl:text-[1.75rem]">
        <span class="pr-6 font-bold opacity-25">01</span>Pick your destination
      </div>
      <div class="xl:py-38">
        <Image
          alt={title}
          width={150}
          height={150}
          fetchpriority="high"
          src={`${basePath}/images/destination/${id}.webp`}
          class="mx-auto my-7 animate-floating md:size-75 xl:size-120"
        />
      </div>
    </header>

    <div class="xl:py-38">
      <section class="grid gap-y-4 text-center md:pt-18.5 xl:text-left">
        <Navigation
          {navData}
          selectedNav={id}
          itemClass="py-4"
          class="pb-2 text-blue-300"
          listClass="gap-x-8 justify-center xl:justify-start"
        />

        <h1 class="font-bellefair text-[3.5rem] text-white uppercase md:text-[5rem]">{title}</h1>

        <p
          class="mx-auto max-w-lg font-barlow text-sm leading-[1.8] text-blue-300 md:text-base md:text-balance xl:max-w-111 xl:text-lg"
        >
          {description}
        </p>
      </section>

      <hr class="mx-auto my-6 h-px w-full max-w-lg text-white/25" />

      <section class="grid grid-cols-2 gap-y-6 text-center uppercase md:mx-auto md:max-w-lg xl:text-left">
        {
          info.map(({ label, value }) => (
            <article class="grid gap-y-3">
              <span class="font-barlow-condensed text-sm text-blue-300">{label}</span>
              <h2 class="font-bellefair text-[1.75rem] text-white">{value}</h2>
            </article>
          ))
        }
      </section>
    </div>
  </main>
</Layout>
