---
import Link from 'shared/components/Link.astro'
import Picture from 'shared/components/Picture.astro'

import LevelTag from '@/components/LevelTag.astro'
import TechTags from '@/components/TechTags.astro'
import type { Projects } from '@/pages/index.astro'

type Props = Projects

const { description, image: source, level, link, techs, title } = Astro.props
---

<article class="relative overflow-hidden rounded-2xl border border-gray-300 bg-white">
  <Link to={link} class="block overflow-hidden">
    <Picture {source} alt={title} width={384} height={266} class="transition-zooming" />
  </Link>

  <section class="flex flex-col gap-3 p-5 sm:px-4 md:px-6 xl:p-10">
    <article class="line-clamp-2 h-16">
      <Link to={link} class="text-xl hover:underline md:text-2xl">
        <h2>{title}</h2>
      </Link>
    </article>

    <article class="flex flex-wrap items-center justify-between gap-3 rounded-b-2xl">
      <TechTags {techs} />
      <LevelTag name={level.name} />
    </article>

    <p class="font-heebo text-lg leading-6.5 text-neutral-500">{description}</p>
  </section>
</article>
