---
import Link from 'shared/components/Link.astro'
import Icon from 'shared/components/Icon.astro'
import Image from 'shared/components/Image.astro'

interface Props {
  navigation: Array<{
    external: boolean
    text: string
    to: string
  }>
  profile: {
    image: {
      src: string
      alt: string
    }
    link: string
    title: string
  }
}

const { navigation, profile } = Astro.props

const linkClass =
  'relative after:absolute after:-bottom-1 after:left-0 after:h-0.5 after:w-full after:scale-0 after:bg-guru after:content-[""] after:[transition:transform_0.3s_ease_0s] hover:after:scale-100 hover:after:[transition:transform_0.3s_ease_0s]'
---

<header class="w-full py-4 lg:py-6">
  <div class="mx-auto flex w-full max-w-[75rem] justify-between px-6">
    <Icon name="logo" height={42} class="w-60 sm:w-72" />
    <section class="flex gap-x-8">
      <nav class="hidden items-center md:flex">
        <ul class="flex gap-x-8 text-sm font-bold uppercase italic">
          {
            navigation.map(({ to, text }) => (
              <li>
                <Link external {to} class={linkClass}>
                  {text}
                </Link>
              </li>
            ))
          }
        </ul>
      </nav>
      <Link external title={profile.title} to={profile.link}>
        <Image src={profile.image.src} width={42} height={42} alt={profile.image.alt} class="rounded-full" />
      </Link>
    </section>
  </div>
</header>
